/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background: #f2f2f2;
}

/* Пошукове поле */
.app input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Сітка карток */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Одна картка */
.movie-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  padding: 10px;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Адаптив */
@media (max-width: 600px) {
  .movie-card {
    font-size: 14px;
  }
}

/* === ШАПКА САЙТУ === */
.header {
  background-color: #0c1a38; /* темно-синій */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
}

.header .left {
  font-size: 18px;
}

.header .right {
  display: flex;
  align-items: center;
  background-color: #8dd1ff; /* світло-голубий */
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
}

.header .right svg {
  margin-right: 6px;
  fill: white;
}
